.container-fluid
  .row.text-center.screen-only
    .col-lg-10.col-lg-offset-1.col-xs-12
      .well.row.screen-only
        .col-xs-1
          %select#year-select
        .col-xs-1
          %span#city
        .col-xs-2
          %input#zmanim-only{type: :checkbox} Zmanim-only version
        .col-xs-2
          %input#collate{type: :checkbox} Print it so I can fold it in half into a book
        .col-xs-2
          %input#less-detailed-events{type: :checkbox} Show less detailed events
        .col-xs-2
          %input#shabbat-and-yt-only{type: :checkbox} Shabbat and Yom-Tob only
        .col-xs-2
          %input#berachot-100{type: :checkbox} 100-ברכות version
  .row.text-center
    .col-lg-10.col-lg-offset-1.col-xs-12#calendar
