.container-fluid
  .row.text-center.screen-only
    .col-lg-10.col-lg-offset-1.col-xs-12
      .well.row.screen-only
        .col-xs-3
          %select#year-select
        .col-xs-3
          %input#zmanim-only{type: :checkbox} Zmanim-only version
        .col-xs-3
          %input#collate{type: :checkbox} Print it so I can fold it in half into a book
        .col-xs-3
          %input#less-detailed-events{type: :checkbox} Show less detailed events
  .row.text-center
    .col-lg-10.col-lg-offset-1.col-xs-12#calendar
